<div class="center-align create_button"><a class="waves-effect waves-light btn modal-trigger" href="#create_room">Create new room</a></div>
<div class="room_list center-align">
  <% if @rooms.present? %>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  <% else %>
     <li>No rooms created</li>
  <% end %>
</div>