<div class="main s12">
  <div class="main_chat">
    <h1>
      <%= @room.name %>
    </h1>

    <div class="row chat">
        <div class="col s12" style="padding: 0" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
            <%= render 'messages' %>
        </div>
    </div>

    <div class="message_form">
      <div class="col s12">
        <%= render 'messageform' %>
      </div>
    </div>
  </div>
</div>