/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #2e3133;
}
.main{
  padding-left: 320px;
  background-color: #2e3133;
    h1{
      margin: 0;
      padding: 5px;
      color: white;
    }
  height: 100vh;
  padding-right: 20px;
}
.avatar{
  width: 64px;
  height: 64px;
}
.room-list{
  text-align: center;
  padding-top: 25px;
}
.sidenav{
  height: 100vh;
  width: 300px !important;
  background-color: #2b2e30;
    li > a{
      color: white !important;
    } 
  color: white;
}
//input
.message-input{
  margin: 0 !important;
  background-color: white !important;
  border: none !important;
  outline: none;
  border-radius: 0 0 0 25px !important;
  height: 40px !important;
  box-sizing: border-box !important;
  padding-right: 80px;
  overflow: hidden;
  width: calc(100% - 80px) !important;
}
input{
  font-size: 20px !important;
  box-sizing: border-box !important;
  transition: .5s; 
  padding-left: 15px !important;
}
.message_btn{
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 80px;
  font-size: 15px;
  box-sizing: border-box !important;
  float: right;
  background-color: #26a69a;
  padding: 0 !important;
}
.chat{
  background-color:  #616a6e;
  margin: 0;
  padding: 0 10px 5px 10px;
  height: 85vh;
  overflow-y: scroll;
  border-radius: 8px 8px 0 0;
}
.message_form{
  position: relative;
  margin: 0;
  background-color: #2e3133;
}
.message-avatar{
  width: 32px;
  height: 32px;
}
.message,
.your_message{
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  font-size: 16px;
  color: white;
}
.message{
  max-width: 85%;
  margin-left: 7px;
  background-color: #6f9bce;
}
.each_message{
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
.your_each_message{
  display: flex;
  margin-top:5px;
  margin-bottom: 5px;
  float: right;
}
.your_message{
  float: right;
  margin-right: 7px;
  background-color: rgb(0, 153, 255);
  max-width: 100%;
}
.your-message-avatar{
  width: 32px;
  height: 32px;
}
//NAVBAR
.navbar{
  background-color: #4e5458;
}

@media screen and (max-width: 992px){
  .main{
    padding-left: 26px;
    padding-right: 20px;
  }
}
::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
.copy{
  vertical-align: bottom;
  bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}
.notice, .alert{
  padding: 5px;
  color: white;
}
.notice{
  background-color:#2b2e30;
}